 #l1{color:ghostwhite;
	font-family:Audiowide;
}
#p1{color:ghostwhite;
	font-family:Sour Gummy;
}
#p2{color:ghostwhite;
	font-family:Sour Gummy;
}
#p3{color:ghostwhite;
	font-family:Sour Gummy;
}
body{background: linear-gradient( red,lightpink);
	background-repeat: no-repeat;
    background-attachment:fixed ;}
	
	
